<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="/favicon.ico">

    <title><%= page_title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
			
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
		<link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
		<% if (custom_css !== "") { %>
			<link href="/stylesheets/<%= custom_css %>" rel="stylesheet" type="text/css">
		<% } %>	
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
	
	<body>
	
	  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand nav-font" href="/">Microblog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse nav-font">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">主页</a></li>
						<% if (!user) { %>
							<li><a href="/login">登录</a></li>
							<li><a href="/reg">注册</a></li>
						<% } else {%>
							<li><a href="/logout">登出</a></li>
							<li><a href="/user/<%= user.username %>"><small>你好，<%= user.username %></small></a></li>
						<% } %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>