	<%-include('./header.ejs')%>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
		
      <div class="container">
        <h1>欢迎来到Microblog</h1>
        <p>Microblog 是一个基于 Node.js 的微博系统。</p>
        <% if (!user) {%>
					<p>
						<a class="btn btn-primary" href="/login" role="button">登录</a>
						<a class="btn btn-primary" href="/reg" role="button">注册</a>
					</p>
				<% } else {%>
					<form action="/post" method="post">
						<textarea rows="5" cols="66" name="post" placeholder="请输入微博"></textarea><br />
						<button type="submit" class="btn btn-primary">发表</button>
					</form>
				<% } %>	
      </div>
    </div>

    <div class="container">
      <% items.forEach(function(item, index) { %>
				<% if (index % 3 == 0) { %>
					<div class="row">
				<% } %>
					<div class="col-md-4">
						<h2><%= item.username %>说</h2>
						<p><%= item.post%></p>
					</div>
				<% if (index % 3 == 2 || index == items.length - 1) { %>
					</div>
				<% } %>
			<% }) %>	
			
		</div> <!-- /container -->
		
		<%-include('./footer.ejs')%>

