<%- include('./header.ejs') %>

<div class="container">
		<% if (error!=='') {%>
			<div class="alert alert-danger" role="alert">
				<span class="sr-only">Error:</span>
				<%= error %>
			</div>
		<% } %>
	<form class="form-horizontal" action="/reg" method="post">
		<fieldset>
			<legend>用户注册</legend>
			
			<div class="control-group">
				<label class="control-label" for="username">用户名</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="username" name="username">
					<p class="help-block">你的账户名称，用于登录和显示。用户名只能是中英文字符或除>和<以外的符号，不得包含空格，长度为2到15个字符</p>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="password">密码</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="password" name="password">
					<p class="help-block">密码必须在6到15个字符间，且只能包含英文字母、数字，或>和<以外的符号，不得包含空格，</p>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="password-repeat">再次输入密码</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="password-repeat" name="password-repeat">
				</div>
			</div>		
			
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">注册</button>
			</div>
		</fieldset>
	</form>	

</div>

<%- include('./footer.ejs') %>

